<html xmlns="http://www.w3.org/1999/xhtml">
<head>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
 <style type="text/css">
    body{color:#efd;background:#453;padding:0 5em;margin:0}
    h1{padding:2em 1em;background:#675}
    h2{color:#bf8;border-top:1px dotted #fff;margin-top:2em}
    p{margin:1em 0}
  </style>
<body >
  <div class="container">
    <div class="header">
        <div id="top">
          <div id="nav_div">
            <ul id="top_nav">
              <li><a href="/" class="a_normal">首页</a></li>
              <li><a href="/rss/" class="a_normal">订阅</a></li>
              <li><a href="/about/" class="a_normal">关于</a></li>
            </ul>
          </div>
        </div>
    <!-- end .header --></div>

    <div class="content_body">
      {% block content_body %}{% endblock %}
    </div>

    <div class="footer">
      <div id="footer_logo"></div>
      <div id="siteinfo">&copy; 2007 - 2012 DannyWork Project</div>
    <!-- end .footer --></div>
  <!-- end .container --></div>
</body>
</html>