<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>swift_NavigationController.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A198A26C1CAD4D490021F739</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A198A2801CAD4D4A0021F739</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A198A28B1CAD4D4A0021F739</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
